
[diff]
	# Config to enhance submodule integration in container
	submodule = log

[fetch]
	recurseSubmodules = on-demand

[status]
	submoduleSummary = true

[alias]
	spull = "__git_spull() { git pull \"$@\" && git submodule sync --recursive && git submodule update --init --recursive; }; __git_spull"
	spush = push --recurse-submodules=on-demand
