.vagrant
.amipoLocal
.dev_root_AC

# Persistent directory for dev workspace usage
.persistent

# SSH Credentials personal files
.privateCredentials

*.swp
*.swo
*.vdi
*.retry
*.log
*.retry

# Specific MBD files
squid_notes.md

