<html>
<head>
  
</head>
<body>
  <h1>Environment de Dev de l'infrastructure AMIPO</h1>
  
  <p>Vous pouvez telecharger le certificat de votre autorite racine de dev personnel ici: <a href="/{{ dev_root_ac_pub_filename }}">AC de dev racine</a>.</p>
  <p>Vous pouvez acceder la homepage ici: <a href="https://{{ websiteDomainName }}">Homepage</a>.</p>

</body>
</html>
