<html>
<head>
  
</head>
<body>
  <h1>Portail de Dev de l'infrastructure AMIPO</h1>
 
  <p>Vous etes sur le portail de dev <a href="http://amipo.dev">http://amipo.dev</a>.</p>
 
  <p>Vous pouvez telecharger le certificat de votre autorite racine de dev personnel ici: <a href="/{{ dev_root_ac_pub_filename }}">AC de dev racine</a>.</p>
  <p>Vous pouvez acceder la homepage ici: <a href="https://{{ websiteDomainName }}">Homepage</a>.</p>

  <p>Homepage stagging ici: <a href="https://www.{{ amipoRootDomainNames.stage }}">Homepage Stagging</a>.</p>
  <p>Homepage production ici: <a href="https://www.{{ amipoRootDomainNames.prod }}">Homepage Production</a>.</p>

</body>
</html>
