---

# My credentials
stageUser: "Remplacer_par_votre_username_dans_.privateCredentials/ssh_credentials.yml"
stageKeyFilename: "stageKey"

prodUser: "Remplacer_par_votre_username_dans_.privateCredentials/ssh_credentials.yml"
prodKeyFilename: "prodKey"

# Map of ssh config for each machine in each environment
sshConfig:
  stage:
    amipo1:
      hostname: mby.ovh
      port: 22
      user: "{{ stageUser }}"
      identity: "{{ stageKeyFilename }}"

  prod:
    amipo1:
      hostname: amipo.fr
      port: 22
      user: "{{ prodUser }}"
      identity: "{{ prodKeyFilename }}"
