# Subuids and subgids mapping
lxc.id_map = u 0 1000000 65536
lxc.id_map = g 0 1000000 65536

# "Secure" mounting
lxc.mount.auto = proc:mixed sys:ro cgroup:mixed

lxc.network.0.type = veth
lxc.network.0.link = lxcbr0
lxc.network.0.flags = up
lxc.network.0.hwaddr = {{ ctDeterministicMacAddress }}
lxc.network.0.ipv4.address = {{ lxcSubnet }}
lxc.network.0.ipv4.gateway = {{ lxcGateway }}

